html, body {
    height: 100%;
    width: 100%;
}

#mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.card {
  gap: 0.1rem;
  border: solid black;
  width: 120px;
  height: 180px;
  font-size: 14px;

}

.card img {
    width: 4rem;
}